In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

marks_data=pd.read_csv('data10.csv')
marks_data

,Unnamed: 0,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,0,1,1,3,0,0,1,1,2,1,1,1,3,1,4,1,1,80 to 89
1,1,1,0,3,0,1,1,2,3,1,1,1,2,1,4,1,1,80 to 89
2,2,1,1,4,0,0,3,2,2,2,1,0,3,0,1,2,3,60 to 69
3,3,1,0,3,0,1,1,2,4,1,1,1,2,1,4,1,1,80 to 89
4,4,1,1,2,0,0,2,1,2,2,1,0,4,0,1,2,2,70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,373,0,0,1,0,0,1,2,1,2,1,1,3,0,1,2,1,90 to 100
374,374,1,1,4,1,1,1,2,4,2,1,1,1,1,5,1,1,90 to 100
375,375,1,1,3,0,0,2,2,3,2,1,1,2,1,7,1,1,90 to 100
376,376,1,0,1,1,1,2,2,2,1,1,1,2,1,7,1,1,90 to 100
377,377,1,1,4,1,1,1,2,4,2,1,1,1,1,5,1,1,90 to 100

In [2]:
marks_data.drop(marks_data.columns[[0]], axis=1, inplace=True)
X=marks_data.drop(columns=['Marks'])
y=marks_data['Marks']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions=model.predict(X_test)

score=accuracy_score(y_test,predictions)
score

0.8157894736842105

In [3]:
marks_data.drop(marks_data.columns[[0]], axis=1, inplace=True)
X=marks_data.drop(columns=['Marks'])
y=marks_data['Marks']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions=model.predict(X_train)

score=accuracy_score(y_train,predictions)
score

1.0